.Title_header{
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid black
}
.list-group{
  display: inline-block;
  text-align: left;
  font-weight: bold;
}
.list-group h3{
  border: 1px solid black;
  margin: 2px;
}
